* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 9.375rem 1fr 1fr;
    grid-template-rows: 5rem 1fr 3.75rem;
    grid-template-areas:
        "header header header"
        "asideleft main asideright"
        "footer footer footer";
    height: 100vh;
}

header {
    grid-area: header;
    background-color: black;
}

main {
    grid-area: main;
    background-color: blue;
}

.left {
    grid-area: asideleft;
    background-color: brown;
}
.rigth {
    grid-area: asideright;
    background-color: rgb(165, 163, 42);
}

footer {
    grid-area: footer;
    background-color: blueviolet;
}