:root {
    --cor-primaria: rgb(252, 92, 59);
    --font-corpo: "Montserrat", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-corpo);
    background-color: #fcfcfc;
}

header {
    text-align: center;
    padding: 5rem;
    color: var(--cor-primaria);
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* background: #2a3d9b; */
    /* background: linear-gradient(90deg, rgba(42, 61, 155, 1) 0%, rgba(87, 100, 199, 1) 100%, rgba(237, 221, 83, 1) 100%); */
    gap: 5rem;
}

section {
    background-color: azure;
    width: 300px;
    height: 380px;
    padding: 0.500rem;
    border-radius: 1rem;
    line-height: 1rem;
}

img {
    width: 100%;
    height: 190px;
    object-fit: cover;
}

h3{
    text-transform: capitalize;
    padding: 0.7rem;
    padding-left: 0;
}

p::first-letter{
    text-transform: capitalize;
}

p{
    padding: 0.7rem;
    padding-left: 0;
}

button{
    background-color: var(--cor-primaria);
    width: 7rem;
    height: 3rem;
    border: none;
    border-radius: 0.5rem;
    color: white;
}
button::first-letter{
    text-transform: capitalize;
}
